<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.achulkov.diablocuberessurected">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".DiabloCubeApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DiabloCubeRessurected"
        tools:replace="android:allowBackup">
        <activity
            android:name=".ui.chat.DCubeChatLoginActivity"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3489954973980283~5927422679" />

        <activity
            android:name=".ui.chat.DCubeChatProfileActivity"
            android:exported="true" />
        <activity
            android:name=".ui.DCMainActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.chat.DCChatActivity" />
        <activity
            android:name=".ui.onboarding.OnboardingActivity"
            android:exported="true" />
    </application>

</manifest>